/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
}

.page {
  padding-top: 5rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .page {
    --page-width: 90%;
  }
}
.page::before {
  content: "";
  background: url("../resources/bg-tablet-pattern.svg") center no-repeat;
  display: block;
  width: 100rem;
  height: 100rem;
  position: absolute;
  left: 50%;
  top: -35rem;
  z-index: -50;
}
@media (max-width: 800px) {
  .page::before {
    background-size: 100%;
    width: 60rem;
    height: 60rem;
    left: 30%;
    top: -20rem;
  }
}
.page::after {
  content: "";
  background: url("../resources/bg-tablet-pattern.svg") center no-repeat;
  display: block;
  width: 100rem;
  height: 100rem;
  position: absolute;
  left: -60rem;
  top: 90rem;
  z-index: -50;
}
@media (max-width: 800px) {
  .page::after {
    background-size: 100%;
    width: 50rem;
    height: 50rem;
    left: 65%;
    top: 60rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--page-width);
  max-width: var(--page-max-width);
  margin: 0 auto;
}
@media (max-width: 800px) {
  .header__navigation {
    display: none;
  }
}
@media (max-width: 800px) {
  .header__button {
    display: none !important;
  }
}
.header__hamburger {
  display: none;
}
@media (max-width: 800px) {
  .header__hamburger {
    display: block;
  }
}

.intro {
  width: var(--page-width);
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
  gap: 5rem;
  max-width: var(--page-max-width);
}
@media (max-width: 1000px) {
  .intro {
    gap: 1.5rem;
  }
}
@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
  }
}
.intro-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 3rem;
  width: 100%;
}
@media (max-width: 800px) {
  .intro-wrapper {
    align-items: center;
  }
}
.intro__header {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 4.2rem;
  color: var(--color-dark-blue);
  font-size: 4.2rem;
}
@media (max-width: 800px) {
  .intro__header {
    text-align: center;
  }
}
.intro__info {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  max-width: 35rem;
}
@media (max-width: 800px) {
  .intro__info {
    text-align: center;
  }
}
.intro__image {
  width: 100%;
  max-width: 500px;
  margin: auto 0;
  margin-right: auto;
  z-index: -10;
}
@media (max-width: 800px) {
  .intro__image {
    grid-row: 1;
    margin: 0 auto;
    max-width: 450px;
  }
}
.intro__button {
  justify-self: start;
  align-self: start;
}
@media (max-width: 800px) {
  .intro__button {
    align-self: center;
  }
}

.features {
  width: var(--page-width);
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10rem;
  gap: 5rem;
  max-width: var(--page-max-width);
}
@media (max-width: 1000px) {
  .features {
    gap: 1.5rem;
  }
}
@media (max-width: 800px) {
  .features {
    grid-template-columns: 1fr;
    gap: 8rem;
  }
}
.features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.features__header {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 3.5rem;
}
@media (max-width: 800px) {
  .features__header {
    text-align: center;
  }
}
.features__info {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  max-width: 35rem;
}
@media (max-width: 800px) {
  .features__info {
    text-align: center;
    align-self: center;
  }
}
.features__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 800px) {
  .features__list {
    gap: 5rem;
  }
}

.reviews {
  padding: 10rem 0 15rem;
  overflow-x: hidden;
}
.reviews__header {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 3.5rem;
  text-align: center;
}
.reviews__slider {
  width: 110%;
  transform: translateX(-5%);
  margin: 9rem auto 5rem;
}
@media (max-width: 800px) {
  .reviews__slider {
    width: 90%;
    transform: none;
    height: 400px;
  }
}
.reviews__swiper-wrapper {
  height: fit-content;
}
.reviews__button {
  margin: 0 auto;
}

.get-started {
  background: var(--color-bright-red) url("../resources/bg-simplify-section-desktop.svg") center no-repeat;
  padding: 4rem 0;
}
@media (max-width: 800px) {
  .get-started {
    background-image: url("../resources/bg-simplify-section-mobile.svg");
    background-position: left;
    background-repeat: no-repeat;
  }
}
.get-started-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--page-width);
  max-width: var(--page-max-width);
  margin: 0 auto;
}
@media (max-width: 800px) {
  .get-started-wrapper {
    flex-direction: column;
    gap: 5rem;
  }
}
.get-started__header {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 3.5rem;
  color: rgba(var(--color-white));
  max-width: 50rem;
}
@media (max-width: 800px) {
  .get-started__header {
    text-align: center;
  }
}

.footer {
  background-color: var(--color-very-dark-blue);
}
.footer-wrapper {
  width: var(--page-width);
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 6rem 0 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(10rem, auto);
  grid-template-areas: "logo navigation navigation form" "socials navigation navigation copy";
  align-items: start;
}
@media (max-width: 800px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "form" "navigation" "socials" "logo" "copy";
  }
}
.footer__navigation {
  grid-area: navigation;
}
.footer__navigation .navigation__items {
  flex-direction: column;
  flex-wrap: wrap;
  height: 17rem;
}
@media (max-width: 800px) {
  .footer__navigation .navigation__items {
    align-content: space-around;
    height: 15rem;
    margin: 0 auto;
  }
}
.footer__navigation .navigation__link {
  color: rgba(var(--color-white));
}
.footer__navigation .navigation__link:hover {
  color: var(--color-bright-red);
}
.footer__logo {
  grid-area: logo;
}
@media (max-width: 800px) {
  .footer__logo {
    justify-self: center;
    margin: 1rem 0;
  }
}
.footer__socials {
  grid-area: socials;
  align-self: center;
}
@media (max-width: 800px) {
  .footer__socials {
    justify-self: center;
  }
}
.footer__form {
  grid-area: form;
}
@media (max-width: 800px) {
  .footer__form {
    justify-self: center;
  }
}
.footer__copy {
  grid-area: copy;
  align-self: center;
  justify-self: end;
}
@media (max-width: 800px) {
  .footer__copy {
    justify-self: center;
  }
}

.navigation-mobile-wrapper {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity var(--animation-time) ease;
  animation: mobilewrapper 1s ease-in forwards;
  justify-content: center;
  padding-top: 15rem;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.438) 85%, rgba(255, 255, 255, 0) 98%);
  z-index: -1;
}
.navigation-mobile-wrapper--open {
  opacity: 1;
}
@media (max-width: 800px) {
  .navigation-mobile-wrapper--open {
    display: flex;
    z-index: 50;
  }
}
@media (max-width: 800px) {
  .navigation-mobile-wrapper {
    display: flex;
    inset: 0;
  }
}

.button {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  border: none;
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 0.9rem 3rem 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: block;
}
.button--primary {
  color: rgba(var(--color-white));
  background-color: var(--color-bright-red);
  box-shadow: 0rem 1.5rem 1rem -0.5rem var(--color-very-bright-red-shadow);
}
.button--primary:hover {
  background-color: var(--color-very-bright-red);
}
.button--secondary {
  color: var(--color-bright-red);
  background-color: rgba(var(--color-white));
  box-shadow: 0rem 1.5rem 1rem -0.5rem rgba(var(--color-black), 0.1);
}
.button--secondary:hover {
  color: var(--color-very-bright-red);
}

.navigation {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
}
.navigation__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .navigation__items {
    gap: 1rem;
  }
}
.navigation__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-dark-blue);
}
.navigation__link:hover {
  color: var(--color-dark-blue);
}

.navigation-mobile {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  position: absolute;
  width: 90%;
  height: 45rem;
  border-radius: 0.8rem;
  background-color: white;
  display: block;
  transform: scale(0);
  transform-origin: top right;
  transition: transform var(--animation-time) ease-in-out;
}
.navigation-mobile__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.navigation-mobile__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-dark-blue);
  font-weight: 700;
  font-size: 2.2rem;
}
.navigation-mobile__link:hover {
  color: var(--color-bright-red);
}
.navigation-mobile--open {
  transform: scale(1);
}
.navigation-mobile--hidden {
  transform: scale(0);
}

.feature {
  display: block;
  display: grid;
  gap: 1rem 4rem;
  grid-template-columns: min-content 1fr;
}
.feature__number {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  border-radius: 3rem;
  padding: 0.9rem 2.5rem 1.1rem;
  font-weight: 500;
  color: rgba(var(--color-white));
  background-color: var(--color-bright-red);
}
@media (max-width: 800px) {
  .feature__number {
    position: relative;
  }
}
@media (max-width: 800px) {
  .feature__number::after {
    content: "";
    display: block;
    width: 1000px;
    height: 100%;
    background-color: var(--color-super-very-bright-red);
    position: absolute;
    top: 0;
    z-index: -5;
  }
}
.feature__title {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
  align-self: center;
}
.feature__info {
  grid-column: 2;
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
}
@media (max-width: 800px) {
  .feature__info {
    grid-column: 1/3;
  }
}

.card {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8rem 5rem 5rem;
  margin-top: 5rem;
}
.card__photo {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: -4rem;
}
.card__name {
  color: var(--color-dark-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.6rem;
}
.card__review {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  text-align: center;
  margin-top: 3rem;
}

.swiper-pagination-bullet {
  display: none;
  background-color: white;
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-bright-red);
  opacity: 0.9;
}
@media (max-width: 800px) {
  .swiper-pagination-bullet {
    display: inline-block;
  }
}
.swiper-pagination-bullet-active {
  border: 2px solid var(--color-bright-red);
  background-color: var(--color-bright-red);
}

.socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .socials {
    gap: 3rem;
  }
}

.social-icon__icon {
  color: rgba(var(--color-white));
  font-size: 2.5rem;
}
@media (max-width: 800px) {
  .social-icon__icon {
    font-size: 3.5rem;
  }
}
.social-icon__icon:hover {
  color: var(--color-bright-red);
}

.copy {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.4rem;
}

.form {
  display: flex;
  gap: 1rem;
  position: relative;
}
@media (max-width: 800px) {
  .form {
    width: 100%;
    justify-content: center;
  }
}
.form__input {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 20rem;
  border: none;
  border-radius: 3rem;
  display: block;
}
@media (max-width: 800px) {
  .form__input {
    width: 70%;
  }
}
.form__input::placeholder {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.2rem;
}
.form__input--error {
  outline: 2px solid var(--color-error);
  color: var(--color-error);
}
.form__button {
  padding: 1rem 2rem;
  box-shadow: none;
}
@media (max-width: 800px) {
  .form__button {
    padding: 1rem 3rem;
  }
}
.form__button:hover {
  background-color: var(--color-very-bright-red);
}
.form__message {
  font-size: 1.6rem;
  color: var(--color-dark-greyish-blue);
  font-family: "Be Vietnam", sans-serif;
  font-size: 1.2rem;
  position: absolute;
  top: 5rem;
  left: 1.5rem;
  font-style: italic;
  display: none;
}
@media (max-width: 800px) {
  .form__message {
    left: 10%;
  }
}
.form__message--error {
  display: block;
  color: var(--color-error);
}
.form__message--accept {
  display: block;
  color: var(--color-accept);
}

.hamburger {
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.hamburger__dash-1, .hamburger__dash-2, .hamburger__dash-3 {
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--color-dark-blue);
  position: absolute;
  top: 50%;
  transition: transform var(--animation-time) ease-in-out;
}
.hamburger__dash-1 {
  transform: translateY(-15px);
}
.hamburger__dash-3 {
  transform: translateY(15px);
}
.hamburger--open .hamburger__dash-1 {
  transform: translateY(0) rotate(-45deg);
  transform-origin: 50%;
}
.hamburger--open .hamburger__dash-2 {
  transform-origin: 50%;
  transform: rotate(45deg);
}
.hamburger--open .hamburger__dash-3 {
  transform-origin: 50%;
  transform: translateY(0) rotate(45deg);
}

:root {
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-bright-red: rgb(242, 95, 58);
  --color-very-bright-red: rgb(255, 154, 129);
  --color-very-bright-red-shadow: rgba(255, 154, 129, 0.4);
  --color-super-very-bright-red: rgba(255, 154, 129, 0.15);
  --color-error: rgb(194, 76, 76);
  --color-accept: rgb(50, 131, 64);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-dark-greyish-blue: hsl(227, 12%, 61%);
  --color-very-dark-blue: hsl(233, 12%, 13%);
  --color-very-pale-red: hsl(13, 100%, 96%);
  --color-light-grey: hsl(0, 0%, 98%);
  --page-width: 80%;
  --page-max-width: 120rem;
  --animation-time: 350ms;
}

/*# sourceMappingURL=main.css.map */
